.NotFound{
    padding: 20px;
}

.Text{
    font-family: Roboto,sans-serif;
    letter-spacing: .02em;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    color: #ffffff70;
    text-align: center;
}